@import "../global";

.my {

  &-info {
    display:flex;
    flex-direction:column;
    padding:px(25) 0;
    background:#e5e5e5;
    text-align:center;
  }

  &-avatar {
    width:px(64);
    height:px(64);
    margin:px(10) auto;
    border-radius:50%;
  }

  &-nickname {
    color:#333;
  }

  &-list {
    display:flex;
    flex-direction:column;
  }

  &-item {
    display:flex;
    flex-direction:row;
    align-items:center;
    height:px(50);
    padding:0 px(15);
    border-top:1px solid $color-border-gray;
    border-bottom:1px solid $color-border-gray;

    &-left {
      flex:5;
      display:flex;
      flex-direction:row;
      align-items:center;

      text {
        margin-left:px(10);
        font-size:px(16);
      }
    }

    &-right .arrow,
    &-left .icon {
      width:px(25);
      height:px(25);
    }
  }
}





